.developer{
	margin: auto;
	margin-top: 10px;
	background: orange;
	text-align: center;
}



/* Janurary Start*/
.january{
	margin: auto;
	padding:auto;
	background-image: url("../image/1.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}

.monthName{
	text-align: center;
	font-size: 30px;
	font-family: Berlin Sans FB;
	margin-top:50px;
	margin-left: 340px;
	width: 140px;
	height: 45px;
	border-style: solid;
	border-color: white;
	border-radius: 15px 0 15px 0;
	color: red;
	background: green;

}
.year{
	text-align: center;
	font-size: 35px;
	font-family: Berlin Sans FB;
	margin-top: -80px;
	margin-left: 500px;
	width: 130px;
	height: 45px;
	border-style: solid;
	border-color: red;
	border-radius: 15px 0 15px 0;
	color: lime;
	background: black;

}
.dateTable{
	margin: auto;
	height: 300px;
	margin-top: 20px;
	color: white;
	background: black;
	box-shadow: 0 0 10px 10px white;
	opacity: 0.8;


}

.dateTable th{
	font-size: 20px;
	font-family: Berlin Sans FB;
	text-align: center;
	padding: 10px;
	color: lime;
}
.dateTable td{
	text-align: center;
	font-family: Berlin Sans FB;
	font-size: 25px;
}
.offday{
	color: red !important;
}

.button1{
	width:100px;
	height: 70px;
	border-style: none;
	background-color: red;
}


/*All Month Button Start*/
.allMonth{
	margin: auto;
	margin-top: 30px;
	background: yellow;
	opacity: 0.8;
}
.allMonth td{
	padding: 7px;
	text-align: center;
	font-size: 20px;
}
.allMonth td a{
	text-decoration: none;
	color:black;
}
.allMonth td:hover{
	transform: scale(1.1);
	transition: 1s;
	background: blue;
}
.allMonth td a:hover{
	color: white;
}



/*All Month Button End*/

/* Janurary End*/


/* February Start*/
.february{
	margin: auto;
	padding:auto;
	background-image: url("../image/9.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* February End*/


/* March Start*/
.march{
	margin: auto;
	padding:auto;
	background-image: url("../image/3.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* March End*/



/* April Start*/
.april{
	margin: auto;
	padding:auto;
	background-image: url("../image/4.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* April End*/



/* May Start*/
.may{
	margin: auto;
	padding:auto;
	background-image: url("../image/5.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* May End*/




/* June Start*/
.june{
	margin: auto;
	padding:auto;
	background-image: url("../image/6.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* June End*/




/* July Start*/
.july{
	margin: auto;
	padding:auto;
	background-image: url("../image/7.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* July End*/



/* August Start*/
.august{
	margin: auto;
	padding:auto;
	background-image: url("../image/8.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* August End*/



/* September Start*/
.september{
	margin: auto;
	padding:auto;
	background-image: url("../image/9.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* September End*/



/* October Start*/
.october{
	margin: auto;
	padding:auto;
	background-image: url("../image/10.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* October End*/



/* November Start*/
.november{
	margin: auto;
	padding:auto;
	background-image: url("../image/11.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* November End*/



/* December Start*/
.december{
	margin: auto;
	padding:auto;
	background-image: url("../image/2.jpg");
	background-repeat:no-repeat;
	background-size:100% 700px;
}
/* December End*/